def calcular_imc():
    print("=" * 30)
    print(" sistema de calculo de peso")
    print("=" * 30)
try:
    peso = float(input("Digite o seu peso: "))
    altura = float(input("Digite a sua altura: "))
    imc = peso / (altura ** 2)
    print("\n" + "-" * 30)
    print(f"Seu IMC atual é: {imc:.2f}")
    if imc < 18.5:
        print("Classificação: Abaixo do peso")
    elif 18.5 <= imc < 25:
        print("Classificação: Peso normal")
    elif 25 <= imc < 30:
        print("Classificação: Sobrepeso")
    else:
        print("Classificação: Obesidade")
    print("-" * 30)
except ValueError:
    print("Por favor, digite números válidos!")
